body {

  padding: 50px;
  background-color: aliceblue;
  font-family: sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family:  monospace;
}


#container {
  display: flex;
  justify-content: center;
}



