body {

  padding: 50px;
  background-color: aquamarine;
  font-family: sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family:  monospace;
}


#container {
  display: flex;
  justify-content: flex-start;



  box-shadow: 0px 0px 20px 0px #333;
}





